
@{
    ViewData["Title"] = "Crear";
}

    <form action="/Gasto/Crear" method="post">
        <input type="hidden" name="CuentaId" value="@ViewBag.CuentaId" />

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
        </div>

        <div class="form-group">
            <label>Monto</label>
            <input type="text" class="form-control" name="Monto" value="@Model.Monto" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Guardar</button>
        </div>





        <div class="form-group">
            <a class="btn btn-primary" href="/Gasto/Index?cuentaId=@ViewBag.CuentaId">Cancelar</a>
        </div>
    </form>

