
@{
    ViewData["Title"] = "Efectivo";
    Layout = null;
}


    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
    </div>
    <div>
        <label>Saldo Inicial</label>
        <input type="text" class="form-control" name="SaldoInicial" value="@Model.SaldoInicial" />
    </div>
    <div>
        <label>Concepto</label>
        <input type="text" class="form-control" name="Concepto" value="@Model.Concepto" />
    </div>