
@{
    ViewData["Title"] = "Pasivo";
    Layout = null;
}

<div class="row">
    <label>Nombre</label>
    <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
</div>
<div class="row">
    <label>Saldo Inicial</label>
    <input type="text" class="form-control" name="SaldoInicial" value="@Model.SaldoInicial" />
</div>
<div class="row"> 
    <label>Concepto</label>
    <input type="text" class="form-control" name="Concepto" value="@Model.Concepto" />
</div>

